*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}
::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px
}

::-webkit-scrollbar-track {
    background:none;
}
::-webkit-scrollbar-thumb {
    background-color:#D0D8DC;
    border-radius:4px;
}
::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px;
    
}
::-webkit-scrollbar{
    width: 8px;
    background-color:#080808;
}

body{
   /* outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
    padding: 0;
    margin: 0;
    background-color:#020e1e;
}
.m-t-10{
    margin-top: 10px !important;
}
.m-t-20{
    margin-top: 20px !important;
}
.m-t-40{
    margin-top: 40px !important;
}
.m-t-60{
    margin-top: 60px !important;
}
.m-t-80{
    margin-top: 80px !important;
}
.m-t-100{
    margin-top: 100px !important;
}
.m-b-30{
    margin-bottom: 30px !important;
}
.m-b-100{
    margin-bottom: 100px !important;
}
.m-b-10{
    margin-bottom: 10px !important;
}
.m-b-20{
    margin-bottom: 20px !important;
}
.m-b-200{
    margin-bottom: 200px !important;
}
.m-l-40{
    margin-left: 40px !important;
}
.m-r-40{
    margin-right: 40px !important;
}
button:active, button:focus,
select:active, select:focus,
textarea:active, textarea:focus
{
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
select::-moz-focus-inner {
  border: 0;
}
textarea::-moz-focus-inner {
  border: 0;
}
.video-container {
    width: 100%;
    max-width: 1912px;
    position: relative;
}
.video-container video {
    width: 100%;
    height: auto;
}
video, source {
    min-height: 100%;
    min-width: 100%;
    position: relative;
    z-index: 2;
}
.loader {
	position:fixed;
	top:40% !important;
	left:50%;
	width:50px;
	height:50px;
	margin-left:-32px;
	z-index:100;
	font-size:12px;
	line-height:50px;
	color:#fff;
}
.loader img{
    width: 64px;
}
.main_box{
    /*opacity:0;*/
}
.transition_box{
    width: 100%;
    height: 500px;
    background: url(../img/content/pfrm2.jpg) no-repeat center center;
    position: absolute;
    top: -50px;
    z-index: -1;
}
.transition_box_exp{
    width: 100%;
    height: 500px;
    background: url(../img/content/pfrm2.jpg) no-repeat center center;
    position: absolute;
    top: -50px;
    z-index: -1;    
}
.transition_box_v{
    width: 100%;
    height: 140px;
    background: url(../img/content/pfrm_2_2.jpg) no-repeat center center;
    position: absolute;
    bottom: 0;   
    z-index: 2;
}
.transition_box_exp_v{
    width: 100%;
    height: 140px;
    background: url(../img/content/pfrm_2_2.jpg) no-repeat center center;
    position: absolute;
    bottom: 0;   
    z-index: -1;
}
.autor{
    width: 100%;
    max-width: 1912px;
    min-height: 1080px;
    position: relative;
    z-index: -1;
    margin-top: -4px;
   /* background: url(../img/content/2000-min.jpg) no-repeat center center;
    -webkit-background-size: 110%;
    -moz-background-size: 110%;
    -o-background-size: 110%;
    background-size: 110%; */

}
.experience{
    width: 100%;
    max-width: 1912px;
    min-height: 960px;
    position: relative;
    overflow:hidden;
}
.profit{
    width: 100%;
    max-width: 1912px;
    position: relative;
    overflow:hidden; 
    margin-bottom: 30px;
}
.animation_content_box-4,
.video_reviews_slider,
.text_reviews_slider,
.steps_by_steps{
    max-width: 1600px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;  
    position: relative;
    left: 50%;
    margin-left: -800px;
}

.video_reviews_slider{
    height:325px;
    max-width: 1540px;
    margin-left: -770px;
    margin-top: 40px;
}
.text_reviews_slider{
    height:372px;
    max-width: 1500px;
    margin-left: -750px;
    margin-top: 40px;    
}
.video_reviews_box,
.text_reviews_box,
.steps_boxes{
    width: 325px !important;
    height: 325px !important;
    border-radius:50%;
    border:4px solid #FF0035;
    margin-right: 30px;
    margin-left: 30px;
    position: relative;

}
.video_reviews_box{
    cursor: pointer;
}
.steps_boxes{
    height: 200px !important;
    border-style:none;
    border-radius:16px;
    margin: 0;
    background:rgba(0,0,0,0.5);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}
.arrow_box_step{
    width: 80px;
    height:200px;
    line-height: 200px;
    font-size:40px;
    color: #fff;
    text-align:center;
}
.lbl_step{
    width: 100%;
    font-size:30px;
    padding: 15px 0 0 0;
    color:#ff92a6;
    text-align:center;
    font-family: 'Roboto-Black';
}
.lbl_step i{
    color: #F5FA16;
}
.hdr_step{
    width: 100%;
    font-size:24px;
    padding: 10px 0 5px 0;
    color: #fff;
    text-align:center;
    font-family: 'Roboto-Medium';    
}
.text_step{
    width: 100%;
    font-size:19px;
    padding: 10px 20px;
    color: #fff;
    text-align:center;
    font-family: 'Roboto-Light';    
}
.text_reviews_box{
    width: 230px !important;
    height: 372px !important;
    border-radius:40px;
    border-style:none;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.slick_prev, .slick_next{
    font-size: 40px;
    line-height: 100%;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100px;
    height: 100%;
    cursor: pointer;
    color: #ffffff;
    border-style:none;
    outline: none;
    background: none;
    text-align:center;
    transition:0.4s;
}
.slick_next{
    /*border-left: 1px solid #ffffff;*/
    right: -100px;
}
.slick_prev{
   /*border-right: 1px solid #ffffff;*/
     left: -100px;
}
.slick_prev_popup,
.slick_next_popup{
    font-size: 40px;
    line-height: 70px;
    position: absolute;
    top: 0;
    display: block;
    width: 70px;
    height: 70px;
    cursor: pointer;
    color: #ffffff;
    border-style:none;
    outline: none;
    background: none;
    text-align:center;
    transition:0.4s;   
    z-index: 100;
}
.slick_next_popup{
    /*border-left: 1px solid #ffffff;*/
    right: 10px;
}
.slick_prev_popup{
   /*border-right: 1px solid #ffffff;*/
     left: 10px;
}
.extra_left_m{
    left: -120px;
}
.extra_right_m{
    right: -120px;
}
.slick_prev:hover{
    transition:0.3s;
-webkit-box-shadow: -100px 0px 20px -100px rgba(255, 255, 255, 1) inset;
-moz-box-shadow: -100px 0px 20px -100px rgba(255, 255, 255, 1) inset;
box-shadow: -100px 0px 20px -100px rgba(255, 255, 255, 1) inset;
}
.slick_next:hover{
    transition:0.3s;
-webkit-box-shadow: 100px 0px 20px -100px rgba(255, 255, 255, 1) inset;
-moz-box-shadow: 100px 0px 20px -100px rgba(255, 255, 255, 1) inset;
box-shadow: 100px 0px 20px -100px rgba(255, 255, 255, 1) inset;
}
.video_content_box,
.text_content_box{
    width: 305px;
    height: 305px;    
    border-radius:50%;
    position: absolute;
    top: 6px;
    left: 6px;
    background: #ffffff;
    overflow:hidden;
}
.text_content_box{
    width: 230px;
    height: 372px;
    border-radius:40px;
    top: 0;
    left: 0;
    position: relative;
}
.icon_big_img{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    color:#fff;
    line-height: 372px;
    text-align: center;
    font-size:40px;
    opacity:0;
    transition:0.2s;
    position: absolute;
    top: 0;
}
.icon_big_video{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    color:#FF0035;
    line-height: 305px;
    text-align: center;
    font-size:40px;
    opacity:0;
    transition:0.2s;
    position: absolute;
    top: 0;    
}
.text_reviews_box:hover .icon_big_img{
    opacity:1;
    transition:0.2s;
}
.video_reviews_box:hover .icon_big_video{
    opacity:1;
    transition:0.2s;
}
.profit h2{
    font-family: 'Roboto-Black';
    font-size:80px;
    color:#ffffff;
    text-align:center;
}
.profit h3{
    font-family: 'Roboto-Light';
    font-size:30px;
    color:#ffffff;
    text-align:center;
    margin-top: 10px;
}
.experience_media{
    width: 100%;
    min-height: 960px;
    display:none;

}
.box_exp{
    width: 100%;
    min-height: 240px;
    background:none;
    
}
.marg_top_extra{
    margin-top: -100px;
}
.lottie_player{
    display:none;
}
.lottie_player-2{
    display:none;
}
.animation_content{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 280px;
    -ms-flex: 1 1 280px;
    flex: 1 1 280px;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    margin: 30px;
}
.lottie_player-3{
    /*border:1px solid #ffffff;  */
    border-radius:16px;
    display:none;
}
.img_bckg_video{
    width: 100%;
    height: 41.45vw;
    background: url(../img/content/video_img.jpg) no-repeat top center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    
}

.img_bckg{
    width: 2300px;
    height: 1194px;
   /* background: url(../img/content/2000-min.jpg) no-repeat center center;*/
    animation-name: rotation;
    animation-duration: 16s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /*animation-fill-mode:forwards;*/
    position: absolute;
    top: -90px;
    left: -180px;
    z-index: -2;
}
.img_bckg_rot{
    width: 2350px;
    height:2350px;
   /* background: url(../img/content/2000-min.jpg) no-repeat center center;*/
    animation-name: rotate;
    animation-duration: 180s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /*animation-fill-mode:forwards;*/
    position: absolute;
    top: -750px;
    left: 50%;
    margin-left: -1150px;
}
.bckg_box_fixed{
    width: 100%;
    max-width: 1912px;
    height: 100%;
    overflow:hidden;
    position: fixed;
    top: 0;
    z-index: -2;
}
.img_star_light{
    width: 1000px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 44px;
    margin-left: -500px;
    opacity: 0.8;
}
@keyframes rotation {
    0% {
        transform:rotate(0deg) scale(1);
    }
    50% {
        transform:rotate(3deg) scale(1.1);
    }
    100% {
        transform:rotate(0deg) scale(1);
    }
}
@keyframes rotate {
    0% {
        transform:rotate(0deg) scale(0.9);
    }
    50% {
        transform:rotate(180deg) scale(1);
    }
    100% {
        transform:rotate(0deg) scale(0.9);
    }
}
.img_autor{
    width:2px;
    height: 2px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    position: absolute;
    bottom: 140px;
    left: 0; 
   /* transform:scale(0);*/

}
@keyframes scale {
    0% {
        -webkit-transform-origin: 0 100%;
        -moz-transform-origin: 0 100%;
        -o-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
        transform-origin: 0 100%;
        transform:scale(0);
    }
    100% {
        -webkit-transform-origin: 0 100%;
        -moz-transform-origin: 0 100%;
        -o-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
        transform-origin: 0 100%;
        transform:scale(1);
    }
}
.info_autor{
    width: 660px;
    min-height: 290px;
    position: absolute;
    top: 160px;
    right: 190px; 
    z-index: 2;
}
.name_autor{
    width: 0;
    height: 260px;
    font-family: 'Roboto-Bold';
    font-size:140px;
    position: relative;
    line-height:128px;
    color:#ffffff;
   /* animation-name: displayon;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode:forwards;*/
    overflow:hidden;
}
@keyframes displayon {
    0% {
        width: 0;
    }
    100% {
        width: 32.84vw;
    }
}
.status_autor{
    width: 560px;
    height: 100px;
    font-family: 'Roboto-Light';
    font-size:66px;
    position: relative;
    color:#AFACAC;
    margin-left: 20px;
}
.slogan_autor{
    width: 644px;
    height: 80px;
    font-family: 'Segoe-Print';
    font-size:60px;
    position: relative;
    color:#F9D607;    
    transform:rotate(-10deg);
    margin-top: 0;
    margin-left: 18px;
}
.popup_box{
    width: 100%;
    max-width:1920px;
    height: 100vh;
    background:rgba(0,0,0,0.9);
    z-index: 1000;
    position: fixed;
    top: 0;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    display:none;
}
.exit_popup{
    width: 34px;
    height: 34px;
    line-height: 34px;
    color:black;
    border-radius:50%;
    text-align:center;
    background:rgba(255,255,255,0.8);
    transition:0.2s;
    position: absolute;
    left: 50%;
    margin-left: -17px;
    top: 20px;
    cursor:pointer;
    font-size:20px;
    z-index: 100;
}
.exit_popup:hover{
    background:rgba(255,255,255,1);
    transition:0.2s;
}
.content_popup{
    width: 1540px;
    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: -770px;
   /* background:rgba(255,255,255,0.8);*/
    background:none;
    border-radius:40px;
    border:1px solid #ffffff;
    padding: 40px;
}
.content_popup_fb{
    width: 320px;
    height: 639px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -160px;
   /* background:rgba(255,255,255,0.8);*/
    background:none;
    overflow:hidden;

}

.flex_box_videos,
.flex_box_text{
    width: 100%;
    height: 569px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;  
    position: absolute;
    bottom: 0;
}
.left_slide_pos_1{
    left: 0;
}
.left_slide_pos_2{
    left: -320px;
}
.left_slide_pos_3{
    left: -640px;
}
.left_slide_pos_4{
    left: -960px
}
.left_slide_pos_5{
    left: -1280px
}
.left_slide_pos_6{
    left: -1600px
}
.left_slide_pos_7{
    left: -1920px
}
.left_slide_pos_8{
    left: -2240px
}
.left_slide_pos_9{
    left: -2560px
}
.left_slide_pos_10{
    left: -2880px
}
.left_slide_pos_11{
    left: -3200px
}
.left_slide_pos_12{
    left: -3520px
}
.left_slide_pos_13{
    left: -3840px
}
.left_slide_pos_14{
  left: -4160px  
}
.left_slide_pos_15{
    left: -4480px
}
.none_border_rad{
    border-radius:0 !important; 
}
.video_box_slcik{
    height: 569px!important; 
    background:none;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 0 320px;
    -ms-flex: 0 0 320px;
    flex: 0 0 320px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.content_page{
    width: 1540px;
    position: relative;
    left: 50%;
    margin-left: -770px;
   /* background:rgba(255,255,255,0.8);*/
    background:none;
    border-radius:40px;
    border:1px solid #ffffff;
    padding: 40px;    
}
.form_order{
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;
}
.hdr_form{
    width: 100%;
    padding: 0 10px;
    color: #fff;
    font-size: 24px;
    text-align:center;
    font-family: 'Roboto-Black';
    margin-bottom: 20px;
}
.old_box_input{
    width: 30%;
    position: relative;
    margin: 10px;
}
.input_form,
.input_form_old{
    width: 30%;
    background:none;
    border:1px solid #ffffff;
    margin: 10px;
    padding: 20px;
    border-radius:10px;
    font-size: 20px;
    color: #fff;
}
.input_form_old{
    width:100%;
    margin: 0;
}
.example_date,
.example_date_form{
    width: 150px;
    padding: 23px 0px;
    font-size: 16px;
    color: #fff;   
    position: absolute;
    right: 0;
    top: 0;
    font-family:'Roboto-light';
    display:none;
}
.back_page_input{
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background:rgba(0,0,0,0.5);
    border-style:none;

}
.btn_form{
    width: 92.6%;
    background:rgba(255,254,0,0.9);
    border:1px solid #FFFE00;
    margin: 10px;
    padding: 20px;
    border-radius:10px;
    font-size: 20px;
    color: #191E2F;
    margin-top: 20px;
    cursor: pointer;
    transition:0.2s;
    font-family: 'Roboto-Black';
}
.btn_form:hover{
    background:rgba(255,254,0,1);
    transition:0.2s;
}
.order_form_open{
    width: 1540px;
    padding: 20px;
    background:rgba(255,254,0,0.9);
    font-size: 20px;
    color: #191E2F;
    text-align:center;
    text-transform: uppercase;
    border-style:none;
    border-radius: 40px;
    position: relative;
    left: 50%;
    margin-left: -770px;
    cursor: pointer;
    font-family: 'Roboto-Black';
    transition: all .2s;
    animation: shadow 1s infinite linear;
    -webkit-box-shadow: 0px 0px 18px 1px rgba(255, 254, 0, 1);
    -moz-box-shadow: 0px 0px 18px 1px rgba(255, 254, 0, 1);
    box-shadow: 0px 0px 18px 1px rgba(255, 254, 0, 1);
}
.first_btn_page{
    position: absolute;
    bottom: 0;
    width: 200px;
    margin-left: -100px;
    z-index: 99;
}
.big_btn_page{
    width:600px;
    height: 170px;
    padding: 20px;
    font-size: 40px;
    margin-left: -300px;
    border-radius: 150px;
}
.order_form_open:hover{
    background:rgba(255,254,0,1);
    transition: 0.2s;
}

@keyframes shadow {
  0% {
    -webkit-box-shadow: 0px 0px 18px 1px rgba(255, 254, 0, 1);
    -moz-box-shadow: 0px 0px 18px 1px rgba(255, 254, 0, 1);
    box-shadow: 0px 0px 18px 1px rgba(255, 254, 0, 1);
  }
  50% {
    -webkit-box-shadow: 0px 0px 18px 8px rgba(255, 254, 0, 1);
    -moz-box-shadow: 0px 0px 18px 8px rgba(255, 254, 0, 1);
    box-shadow: 0px 0px 18px 8px rgba(255, 254, 0, 1);
  }
   0% {
    -webkit-box-shadow: 0px 0px 18px 1px rgba(255, 254, 0, 1);
    -moz-box-shadow: 0px 0px 18px 1px rgba(255, 254, 0, 1);
    box-shadow: 0px 0px 18px 1px rgba(255, 254, 0, 1);
  }
}

@keyframes shadowsmall {
  0% {
    -webkit-box-shadow: 0px 0px 18px 1px rgba(255, 254, 0, 1);
    -moz-box-shadow: 0px 0px 18px 1px rgba(255, 254, 0, 1);
    box-shadow: 0px 0px 18px 1px rgba(255, 254, 0, 1);
  }
  50% {
    -webkit-box-shadow: 0px 0px 18px 4px rgba(255, 254, 0, 1);
    -moz-box-shadow: 0px 0px 18px 4px rgba(255, 254, 0, 1);
    box-shadow: 0px 0px 18px 4px rgba(255, 254, 0, 1);
  }
   0% {
    -webkit-box-shadow: 0px 0px 18px 1px rgba(255, 254, 0, 1);
    -moz-box-shadow: 0px 0px 18px 1px rgba(255, 254, 0, 1);
    box-shadow: 0px 0px 18px 1px rgba(255, 254, 0, 1);
  }
}
.footer_content{
    width: 100%;
    height: 320px;
    position: relative;
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.5);
    border-style: none;
    padding-top: 40px;
}
.footer_content h2{
    font-family: 'Roboto-Black';
    font-size:40px;
    color:#ffffff;
    text-align:center;
}
.footer_contacts{
    max-width: 320px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;  
    position: relative;
    left: 50%;
    margin-left: -160px;
}
.insta_box{
    width: 100%;
    text-align:center;
    border-bottom: 1px solid #fff;
    padding: 4px;
    transition:0.2s;
}
.name_box,
.addres_box{
    width: 100%;
    text-align:center;
}
.politic_box{
    width: 100%;
    text-align:center;
    padding: 2px;
}
.politic_box a{
    color:#fff !important;
    text-decoration:none !important;
    font-family: 'Roboto-light';
    font-size:13px; 
    transition:0.2s;
}
.politic_link:hover {
    color:#19CAA4 !important;
    transition:0.2s;
}
.lottie_feedback{
    width:500px; 
    height: auto; 
    z-index:4; 
    position:relative; 
    left:50%; 
    margin-left:-250px;
}
.email_box{
    width: 100%;
    text-align:center;
    padding: 4px; 
    color:#19CAA4 !important;
    font-family: 'Roboto-light';
     font-size:16px;
}
.insta_box a,
.name_box span,
.addres_box span{
    color:#fff !important;
    text-decoration:none !important;
    font-family: 'Roboto-light';
    font-size:20px; 
    transition:0.2s;
}
.name_box span,
.addres_box span{
    font-size:15px; 
}
.insta_link:hover{
    color:#19CAA4 !important;
    transition:0.2s;
}

.footer_contacts i{
    font-size:25px;
}





